
.quem-somos .marca .imagem {
  margin-top: 60px;
  margin-left: 507px;
  position: relative;
}

.quem-somos .marca .linhas {
  width: 624px;
  max-width: 100%;
  height: auto;
  position: relative;
  top: -70px; /* -75px para relative, 210px para absolute */
  left: 295px; /* 335px para relative, 350px para absolute */
  display: block;
  z-index: 0;
}

.marca .imagem {
  transition: all 0.5s ease;
  display: block;
}

.marca .imagem:hover {
  transform: scale(1.2);
}

.conteudo-marca {
  display: block;
  margin: 0 auto;
  position: relative;
}

.conteudo-titulo {
  font-family: 'Times';
  font-size: 36px;
  text-align: center;
  margin-top: 60px;
}

.conteudo-titulo:after {
  content: "";
  display: block;
  width: 240px;
  height: 3px;
  background: #000;
  margin: 15px auto;
}

.conteudo-descricao {
  font-family: 'Verdana';
  font-size: 16px;
  font-height: 21px;
  position: relative;
  margin: 0 auto;
  padding: 10px 17px;
  text-align: left;
}

.retangulo-1 {
  height: 400px;
  width: 250px;
  margin: -140px auto auto 180px; /* margin: 0 auto; para centralizar */
  border: solid #000 5px;
  background-color: #fff;
}

.retangulo-1 h2:hover{
  transition: ease 1s;
  color: #e74c3c;
}

.retangulo-2 {
  border: solid #000 5px;
  background-color: #fff;
  height: 400px;
  width: 250px;
  margin: -300px 0px 0px 480px;
}

.retangulo-3 {
  border: solid #000 5px;
  background-color: #fff;
  height: 400px;
  width: 250px;
  margin: -490px auto auto 800px;
}