
*, *:before, *:after { /* Seletor universal */
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 16px;
  font-height: 24px;
  background-color: #fff;
}

/* Scrollbar customizada */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(231,76,60,.7);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  transition: ease 2s;
  background-color: rgba(231,76,60,1);
}

a {
  transition: all .25s ease-in-out;
  color: #fff;
}

a:hover {
  color: #e74c3c;
  text-decoration: none;
}

p {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

h1 {
  font-family: 'Times', sans-serif;
}

span {
  color: #e74c3c;
}

img {
  max-height: 100%;
  max-width: 100%;
}

ul {
  font-family: Times;
}

li {
  list-style: none;
}

.btn {
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  padding: 10px 20px;
  margin-top: 10px;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  letter-spacing: .1em;
  font-weight: bold;
  border-radius: 0%;
  transition: all .7s ease;
}

.btn:hover {
  border: 2px solid #e74c3c;
  color: #fff;
  background: #e74c3c;
}

.btn-preto {
  color: #000;
  border: 2px solid #000;
}

.call-to-action {
  margin-top: 75%;
  left: 46%;
  position: relative;
}

.header { /* colocar a logo no centro */
  height: 100px;
  background: rgba(0,0,0,.92);
}

.navbar-inverse {
  height: 100px; /* ou min-height */
  /* height: auto, se 100px causar um collapse transparente */
  background: rgba(0,0,0,.92);
}

.navbar-inverse ul {
  margin: 25px auto;
}

.navbar-inverse .navbar-nav li a {
  color: #fff;
  height: 100px;
  text-transform: none;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: .1em;
  font-weight: 400;
  transition: all ease .3s;
}

.navbar-inverse .navbar-nav li a:hover {
  color: #e74c3c;
}

.navbar-inverse ul li a:before{
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  left: 23px;
  top: 40px;
  bottom: 0;
  background-color: #e74c3c;
  transition: all .3s ease-in-out 0s;
  visibility: hidden;
  transform: scaleX(0);
}

.navbar-inverse ul li a:hover:before{
  visibility: visible;
  transform: scaleX(1);
}

.logo {
  max-height: 70%;
  max-width: 70%;
  margin-top: 25px;
  animation: animLogo 2s 1 alternate;
}

@keyframes animLogo {
  0%, 25% {
    opacity: 0;
    transform: translateX(-35px);
  }

  75%, 100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.marca {
  max-height: 10%;
  max-width: 10%;
  margin-top: 25px;
  margin-right: 0px;
  animation: animMarca 2s 1 alternate;
}

@keyframes animMarca {
  0%, 25% {
    opacity: 0;
    transform: translateX(50px) rotate(90deg);
  }

  75%, 100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}

/* Estilos do carousel principal */

.overlay {
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.carousel .carousel-inner:after { /* Colocar curvado */
  content: "";
  position: absolute;
  bottom: -40px;
  left: -50%;
  width: 200%;
  height: 80px;
  background: #fff;
  transform: rotate(-3deg);
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.item .carousel-caption h1 {
  color: #ffffff;
  font-size: 2.88em;
  text-transform: uppercase;
}

.item .carousel-caption h1:after {
  content: "";
  display: block; /* Um elemento em bloco sempre inicia em uma nova linha e pega o máximo possível de largura, expandindo-se para a direita e esquerda.*/
  width: 60px;
  height: 2px;
  background: #fff;
  margin: 15px auto;
}

.item .carousel-caption p {
  color: #fff;
  font-family: Arial, sans-serif;
  letter-spacing: .1em;
  font-weight: 300;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
  color: #fff;
}

.glyphicon-chevron-left:hover, .glyphicon-chevron-right:hover {
  width: 45px;
  height: 45px;
  animation-name: fill;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-direction: alternate;
  animation-timing-function: ease;
  will-change: transform;
}

@keyframes fill {
  0% {
    background-color: rgba(231, 76, 60,.1);
  }

  100% {
    background-color: rgba(231, 76, 60, .5);
    transform: rotate(-45deg) scale(1.2);
  }
}

/* Carousel arrow e animação */

.down-arrow {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  will-change: transform;
}

.down-arrow a {
  color: #fff;
}

.floating-arrow {
  -webkit-animation-name: floating-arrow;
          animation-name: floating-arrow;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  }

/* Fim dos estilos do carousel */

/* Estilos gerais */

.titulo, .titulo-alt {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.titulo-3 {
  text-align: center;
  font-family: Times;
  color: #fff;
  margin: 30px;
}

.titulo:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #000;
  margin: 5px auto;
}

.titulo-alt {
  color: #fff;
}

.titulo-alt:after, .titulo-3:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #e74c3c;
  margin: 5px auto;
}

.descricao, .descricao-alt {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-height: 24px;
  margin-top: 30px;
  text-align: center;
}

.descricao-alt {
  color: #fff;
}

/* Fim dos estilos gerais */

/* Lançamentos */

.lancamentos {
  height: 960px;
}

.caixa-exterior { /* Mexer na caixa exterior move a imagem também */
  max-height: 320px; /* Pôr retângulo inset ao :hover */
  max-width: 572px;
  display: inline-block;
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
}

.caixa-exterior img {
  height: 320px;
  width: 572px;
  max-height: 100%;
  max-width: 100%;
  display: inline-block;
}

.caixa-exterior, .caixa-interior {
  background-color: rgba(0,0,0,.2);
  height: 320px;
  width: 572px;
  opacity: 0;
  top: 0;
  left: 0;
  padding: 0;
  position: absolute;
  display: inline-block;
  opacity: 1; /* Afeta a foto em si */
  transition: ease .3s;
}

.caixa-exterior, .caixa-interior:hover { /* só funciona com caixa interior, onde fica escrito */
  background-color: rgba(231,76,60,.4);
}

/* 3D shadow
.caixa-exterior:hover{
  box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
*/

.caixa-interior h3, .caixa-interior p { /* Impede o texto de aparecer sem hover */
  padding-right: 40px;
  padding-left: 40px;
  display: none;
}

.caixa-interior:hover h3, .caixa-interior:hover p { /* Permite a visibilidade com hover */
  font-family: Times, sans-serif;
  color: #fff;
  bottom: initial;
  position: relative;
  margin-top: 70px;
  text-align: center;
  display: block;
}

.caixa-interior:hover h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: rgb(231,76,60);
  margin: 10px auto 15px;
}

.caixa-interior:hover p {
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
}

.caixa-exterior-2 {
  height: 440px;
  width: 1162px;
  max-height: 100%;
  max-width: 100%;
  display: inline-block;
  position: relative;
  margin-top: 360px;
  margin-left: 10px;
}

.caixa-exterior-2 img {
  height: 440px;
  width: 1157px;
  max-height: 100%;
  max-width: 100%;
  display: inline-block;
}

.caixa-exterior-2, .caixa-interior-2 {
  background-color: rgba(0,0,0,.2);
  height: 440px;
  width: 1157px;
  opacity: 0;
  top: 0;
  left: 0;
  padding: 0;
  position: absolute;
  display: inline-block;
  opacity: 1; /* Afeta a foto em si */
  transition: ease .3s;
}

.caixa-exterior-2, .caixa-interior-2:hover{ /* só funciona com caixa interior, onde fica escrito */
  background-color: rgba(231,76,60,.4);
}

.caixa-interior-2 h3, .caixa-interior-2 p { /* Impede o texto de aparecer sem hover */
  padding-right: 40px;
  padding-left: 40px;
  display: none;
}

.caixa-interior-2:hover h3, .caixa-interior-2:hover p { /* Permite a visibilidade com hover*/
  color: #fff;
  bottom: initial;
  position: relative;
  margin-top: 80px;
  text-align: center;
  display: block;
}

.caixa-interior-2:hover p {
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
}

.caixa-interior-2:hover h3 {
  font-family: Times;
}

.caixa-interior-2:hover h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: rgb(231,76,60);
  margin: 10px auto 15px;
}

.rating { /* reverte a ordem dos caracteres */
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  color: #fff;
}

.rating span:hover:before {
  content: "\2605";
  position: absolute;
  color: #fff;
  cursor: pointer;
}

/* Fim do overlay - Lançamentos */

/* Eventos */

.eventos {
  height: 960px;
  background-color: #fff;
  margin: 0 auto;
  padding: 0; /* usar columns para alinhar imagens? */
}

.filtro {
  display: inline-block;
  position: relative;
  bottom: 10px;
  left: 36.5%;
}

.box-exterior {
  max-height: 100%;
  max-width: 100%;
  margin-top: 20px;
  margin-right: 10px;
  display: block;
  position: relative;
}

.box-exterior img {
  max-height: 100%;
  max-width: 100%;
  margin-right: 10px;
  /* border-radius: 20%; */
}

.box-exterior, .box-interior {
  background: #fff;
  max-height: 100%;
  max-width: 100%;
  opacity: 0; /* com 0, dá um efeito muito bom */
  top: 0;
  left: 0;
  padding: 0;
  position: absolute;
  transition: opacity .5s;
  display: inline-block;
}

.box-exterior, .box-interior p, .box-interior h2 {
  color: #fff;
  font-family: Arial;
  line-height: 50px;
  text-align: center;
}

.box-interior p, .box-interior h2 {
  width: 100%;
}

.box-exterior, .box-interior:hover {
  opacity: .9;
}

.box-exterior-2 {
  max-height: 100%;
  max-width: 100%;
  margin-top: 320px;
  margin-right: 10px;
  display: block;
  position: relative;
}

.box-exterior-2 img {
  max-height: 100%;
  max-width: 100%;
  margin-right: 10px;
  /* border-radius: 20%; */
}

.box-exterior-2, .box-interior-2 {
  background: #fff;
  max-height: 100%;
  max-width: 100%;
  opacity: 0; /* com 0, dá um efeito muito bom */
  top: 0;
  left: 0;
  padding: 0;
  position: absolute;
  transition: opacity .5s;
  display: inline-block;
}

.box-exterior-2, .box-interior-2 p, .box-interior-2 h2 {
  color: #fff;
  font-family: Arial;
  line-height: 50px;
  text-align: center;
}

.box-exterior-2, .box-interior-2:hover {
  opacity: .9;
}

/* Fim de eventos */

/* Inspiração */

.capa, .citacao {
  max-height: 100%; /* Original era 633px */
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: block;
  background-color: rgba(0,0,0,.95);
}

.citacao {
  padding: 92.5px;
}

.capa img {
  max-height: 100%;
  max-width: 100%;
}

.citacao-titulo {
  max-width: 100%;
  color: #fff;
  font-size: 3em; /* 48px */
  text-align: center;
  margin-top: 3%;
  letter-spacing: 1px;
}

.citacao-titulo:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 10px auto 20px;
  background: #e74c3c;
}

.citacao-descricao p {
  font-size: 24px;
  line-height: 32px;
  font-family: Arial;
  text-align: center;
  color: #fff;
  max-width: 680px;
}

.citacao-descricao footer {
  font-size: 20px;
  color: #fff;
}

.citacao-descricao footer cite {
  font-size: 18px;
}

.floated-quote {
  float: none;
}

.floated-quote blockquote {
  border: none;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.floated-quote blockquote:before,.floated-quote blockquote:after {
  color: #fff;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
}

.floated-quote blockquote:before {
  content: open-quote;
  vertical-align: -0.4em;
}

.floated-quote blockquote:after {
  content: close-quote;
  vertical-align: -0.6em;
}

.floated-quote blockquote p {
  display: inline; /* remover para outro visual */
}

/* Citação-inverse */

.capa, .citacao-inverse {
  max-height: 100%; /* Original era 633px */
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: block;
  background-color: rgba(255,255,255,.95);
}

.citacao-inverse {
  padding: 60px;
}

.citacao-titulo-inverse {
  text-align: center;
  margin-top: 10%;
  color: #000;
  font-size: 3em; /* 48px */
  letter-spacing: 1px;
  max-width: 100%;
}

.citacao-titulo-inverse:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 10px auto 20px;
  background: #000;
}

.citacao-descricao-inverse p {
  font-size: 24px;
  line-height: 32px;
  font-family: Arial;
  color: #000;
  max-width: 680px;
}

.citacao-descricao-inverse footer {
  font-size: 20px;
  color: #000;
}

.citacao-descricao-inverse footer cite {
  font-size: 18px;
}

.floated-quote-inverse {
  float: none;
}

.floated-quote-inverse blockquote {
  border: none;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.floated-quote-inverse blockquote:before,.floated-quote-inverse blockquote:after {
  color: #000;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
}

.floated-quote-inverse blockquote:before {
  content: open-quote;
  vertical-align: -0.4em;
}

.floated-quote-inverse blockquote:after {
  content: close-quote;
  vertical-align: -0.6em;
}

.floated-quote-inverse blockquote p {
  display: inline; /* remover para outro visual */
}

/* Quebras */

.quebra {
  max-height: 300px;
  max-width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/material/quebra-bg.jpg');
  /* Linear gradient para o overlay no background-image */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.frase {
  max-height: 300px;
  max-width: 100%;
  margin: 130px auto;
  color: #fff;
  opacity: .9;
  transition: ease 1s;
}

.frase:after {
  content: none;
}

.credito {
  font-family: Arial;
  font-size: 14px;
  color: #fff;
  opacity: .3;
  margin-top: -25px;
  margin-right: 10px;
  float: right;
  transition: ease 1s;
}

.credito a:hover {
  opacity: 1;
  text-decoration: none;
}

/* Fim das quebras */

/* Princípios */

.principios {
  height: 1020px;
  display: block;
}

.marca-2 {
  max-height: 100%;
  max-width: 100%;
  margin-right: 5px;
}

.marca-2 .imagem {
  margin: 0 auto;
  top: 10px;
  padding: 0;
  position: relative;
  display: block;
  z-index: 1;
}

.marca-2 .linhas {
  max-width: 624px; /* Ajuda o elemento a se readaptar para um dispositivo de tela menor, como smartphone */
  height: auto;
  padding: 0;
  margin: 0 auto;
  position: relative;
  margin-top: -60px;
  display: block;
  z-index: 0;
}

.conteudo-marca {
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: block;
}

.conteudo-titulo {
  font-family: 'Times';
  font-size: 36px;
  text-align: center;
  margin-top: 60px;
}

.conteudo-titulo:after {
  content: "";
  display: block;
  width: 240px;
  height: 2px;
  background: #000;
  margin: 15px auto;
}

.conteudo-descricao {
  font-family: Arial;
  font-size: 16px;
  font-height: 21px;
  position: relative;
  margin: 0 auto;
  padding: 10px 17px;
  overflow: hidden; /* Impede que o elemento seja renderizado fora do espaço criado*/
}

.retangulo-1 {
  max-width: 250px;
  height: 400px;
  border: solid #000 5px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 0px;
  position: relative;
  overflow: hidden; /* Usar overflow-x para remover aquela barra horizontal quando minimiza a tela */
}

.retangulo-1 h2:hover {
  transition: ease 1s;
  color: #e74c3c;
}

.retangulo-2 {
  max-width: 250px;
  height: 400px;
  border: solid #000 5px;
  background-color: #fff;
  margin: 0;
  position: relative;
  margin-top: -500px;
  margin-left: 120px;
  display: block;
}

.retangulo-3 {
  max-width: 250px;
  height: 400px;
  border: solid #000 5px;
  background-color: #fff;
  margin: 0;
  position: relative;
  margin-left: 750px;
  margin-top: -400px;
}

.icone {
  height: 48px;
  width: 48px;
  margin-top: 13px;
  margin-left: 95px;
  position: absolute;
}

.fa-heart {
  animation: pulse;
  animation-duration: .8s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  will-change: transform; /* Suavisa bastante a transição */
}

@keyframes pulse {
  0% {
    color: red;
  }

  100% {
    color: red;
    transform: scale(1.3);
  }
}

.fa-fire {
  color: #E25822;
  animation-name: burn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  will-change: transform;
}

@keyframes burn {
  0% {
    transform: translateX(-2%);
  }

  100% {
    transform: translateX(4%);
  }
}

.fa-diamond {
  color: #85C2F8;
  animation-name: float;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  will-change: transform;
}

@keyframes float {
  0% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(10%);
  }
}

.contato {
  height: 1000px;
  background-color: #101010;
}

.form {
  margin-top: 50px;
}

.form-group select {
  color: #000;
}

.form-group label {
  color: #fff;
}

.form-group input {
  color: #fff;
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: #fff solid 2px;
}

.form-group textarea {
  background-color: transparent;
  border-radius: 0;
  color: #fff;
  border: none;
  border-bottom: #fff solid 2px;
}

.form-group input:focus, .form-group textarea:focus {
  border: none;
  border-bottom: solid 2px #e74c3c;
}

input [type=text] {
  padding: 20px;
  border-radius: 0;
}

input [type=text]:focus {
  color: #e74c3c;
  border: solid 3px #fff; /* Pesquisar como mudar a cor de placeholder*/
}

.membros {
  padding: 0;
  position: relative;
}

.bg { /* caixa exterior */
  max-height: 280px;
  max-width: 280px;
  margin: 80px 75px 60px 22px;
  display: inline-block;
}

.exterior-1, .exterior-2, .exterior-3 {
  height: 280px;
  width: 280px;
  display: block;
  position: relative;
}

.exterior-1, .exterior-2, .exterior-3 img {
  height: 280px;
  width: 280px;
}

.exterior, .interior {
  background: #000;
  height: 280px;
  width: 280px;
  opacity: 0; /* foto em si */
  top: 0;
  left: 0;
  padding: 0;
  position: absolute;
  transition: opacity .5s;
  transform: rotate(45deg);
}

.exterior p, .interior p, .exterior h1, .interior h1 {
  padding: 0;
  color: #fff;
  line-height: 30px;
  font-family: Arial;
  text-align: center;
  transform: rotate(-45deg);
}

.exterior p, .interior p {
  margin-top: 25px;
}

.exterior h1, .interior h1 {
  font-size: 32px;
  text-align: left;
  margin-left: 15px;
  transform: translateY(-10%);
}

.exterior, .interior:hover {
  opacity: .8;
  transition: opacity .5s;
  border: #fff 1px solid;
}

.membros-social {
  margin-left: 200px;
  transform: rotate(-45deg);
  display: inline-block;
}

.membros-social i {
  margin-right: 10px;
}

/*
.mapa {
  margin: 0 auto;
  margin-left: 60px;
  position: relative;
  display: inline-block;
  padding: 0;
  border: solid 3px #000;
  transition: ease .5s;
  overflow-x: hidden;
}

.mapa:hover {
  transform: scale(1.05);
} */

.clearfix {
  clear: both;
}

.wrapper {
  background-color: #ffffff;
  display: block;
  position: relative;
  max-width: 100%;
}

.mapa {
  background-color: #303030;
  height: 500px;
  width: 70%;
  display: block;
  float: left;
}

.dados-contato {
  background-color: #202020;
  height: 500px;
  width: 30%;
  float: right;
}

.dados-contato p {
  margin: 15px 10px 10px 15px;
  padding: 5px;
  color: #fff;
}

.dados-contato h3 {
  width: 420px;
  text-align: center;
  padding: 15px;
  color: #fff;
}

/* Redes sociais */

.social-icons {
  height: auto;
  width: 37px;
  background-color: rgba(0,0,0,.1);
  top: 30%;
  right: 0;
  position: fixed;
  text-align: center;
  display: block;
  z-index: 99;
}

.social-icons i {
  padding: 6px;
}

.social-icons .fa-facebook {
  width: 100%;
  color: #3b5998;
  background-color: #dfe3ee;
}

.social-icons .fa-twitter {
  width: 100%;
  color: #326ada;
  background-color: #fff;
}

.social-icons .fa-linkedin {
  width: 100%;
  color: #fff;
  background-color: #0e76a8;
}

.social-icons .fa-github {
  width: 100%;
  color: #fff;
  background-color: #000;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-github:hover {
  transition: ease .5s;
  color: #e74c3c;
}

/* Go-up fixo */

.go-up {
  height: 25px;
  width: 25px;
  background-color: #e74c3c;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  position: fixed;
  border: none;
  z-index: 99;
  transform: rotate(45deg);
}

.up-arrow {
  color: #fff;
  font-size: 30px;
  text-align: center;
  will-change: transform;
}

.up-arrow a {
  color: #fff;
}

/* Parceiros */

.parceiros {
  height: 600px;
  max-height: 800px;
  max-width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/nature-gangs.jpg") no-repeat center center fixed;
  background-size: cover;
}

.parceiro-1, .parceiro-2, .parceiro-3, .parceiro-4 {
  width: 300px;
  height: 300px;
  display: inline-block;
}

/* Footer */

.footer-basic-centered {
  background-color: #fff;
  width: 100%;
  max-width: 100%;
  text-align: center;
  font: normal 18px sans-serif;
  padding: 45px 0;
}

.footer-basic-centered:before { /* Colocar curvado */
  content: "";
  position: absolute;
  top: -80px;
  right: 0px;
  width: 200%;
  height: 80px;
  background: #fff;
  transform: rotate(3deg);
}

.footer-basic-centered .logo-footer {
  top: 50%;
  transform: translateY(-80%);
  bottom: initial;
  margin: 0 auto;
  margin-left: -2px;
}

.footer-basic-centered .marca-footer {
  height: 75px;
  width: 75px;
  transform: translateY(-50%);
  bottom: initial;
  top: 50%;
  margin-left: -22px;
}

.footer-basic-centered .footer-company-motto{
  color: #000;
  font-size: 24px;
  margin: 0;
  transform: translateY(-50%);
}

.footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color: #000;
  padding: 35px 0 23px;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer-basic-centered .footer-links a{
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.footer-basic-centered .footer-links a:hover{
  color: #e74c3c;
}

.footer-icons{
  margin-top: -25px;
}

.footer-icons a {
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: #fff;
  font-size: 35px;
  color: #000;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
  margin-bottom: 10px;
  transition: .5s;
}

.footer-icons a:hover {
  filter: blur(1.6px);
}

.footer-basic-centered .footer-company-name{
  color: #000;
  font-size: 14px;
  margin: 0;
  top: 50%;
}

@media all and (max-width: 1200px) { 
    .col {
        float: none;
    }
    .two-col {
        padding-left: 0;
    }
    .two-col .col {
        margin-bottom: 60px;
    }
    .two-col .col:last-child {
        margin-bottom: 0;
    }
    .col-1-2 {
        margin: 0 auto;
    }
    .col-2-2 {
        margin: 0 auto;
    }
}
@media all and (max-width: 660px) { 
    .col-row {
        margin-bottom: 30px;
    }
    .two-col .col {
        max-width: 540px;
        width: 100%;
        margin-bottom: 30px;
    }
}
@media all and (max-width: 615px) { 
    figure h3 {
        font-size: 18px;
    }
    figure span {
        font-size: 12px;
    }
}
@media all and (max-width: 480px) { 
    #effect-2 figure figcaption h3 {
        margin-top: 100px;
    }
}
@media all and (max-width: 360px) { 
    #effect-2 figure figcaption h3 {
        margin-top: 80px;
    }
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-basic-centered{
    padding: 35px;
  }

  .footer-basic-centered .footer-company-motto{
    font-size: 18px;
  }

  .footer-basic-centered .footer-company-name{
    font-size: 12px;
  }

  .footer-basic-centered .footer-links{
    font-size: 14px;
    padding: 25px 0 20px;
  }

  .footer-basic-centered .footer-links a{
    line-height: 1.8;
  }
}
